<% if profile %>
  <p><%= profile.yourself %></p>

  <% unless profile.skill == "" %>
    <b>▷言語・スキル</b>
    <p><%= profile.skill %></p>
  <% end %>

  <div>
    <% if profile.twitter_account != "" %>
      <a href="https://twitter.com/<%= profile.twitter_account %>" target="_blank"><i class="fab fa-twitter-square fa-2x margin-right5"></i></a>
    <% end %>

    <% if profile.github_account != "" %>
      <a href="<%= profile.github_account %>" target="_blank"><i class="fab fa-github-square fa-2x black"></i></a>
    <% end %>
  </div>
<% end %>
