<% users.each do |user| %>
  <div class='eachcontent partition'>
    <p><i class="fas fa-user"></i> <%= link_to user.name, user_path(user) %></p>

    <% unless user.results == [] %>
      登録した作品 <span class='green'><%= user.results.count %></span> /
    <% end %>
    <span class="margin-right5">いいねした作品 <%= user.good_results.count %></span>

    <%# ユーザーのプロフィールを表示、ツイッターとgithubアカウントを表示したい %>
    <%# eachで取り出しているuserをもとに、Profileテーブルからデータを取り出せるか %>
  </div>
<% end %>
