<% if user_signed_in? %>
  <p>Sharemadeへようこそ！</p>
  <p>アプリの使い方説明</p>

<% else %>
  <div class="welcome">
    <h1 class="welcometitle">Sharemade <i class="fas fa-share-alt"></i></h1>
    <span>みんなの「作った」をシェアする</span>

    <h4 class="welcomecontent">自分で作ったアプリやサイトを共有しよう !</h4>
    
    <a class='btn welcomebtn' href="/users/sign_up">アカウント作成</a>
    <a class='btn welcomebtn' href="/users/sign_in">ログイン</a>
  </div>
<% end %>
