<%# 最新の作品 %>
<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <div class="home-content b-bottom margin-bottom10"><i class="fas fa-share-alt icon background"></i> 最新の作品</div>
      <% if @results == [] %>
        <div class="text-muted eachcontent">
          作品はありません
        </div>
      <% end %>
      <%= render 'results/results', results: @results %>
    </div>

    <%= render 'layouts/home_nav'%>
  </div>
</div>
