<div class="welcome">
  <h1 class="welcometitle">Let's share <i class="fas fa-share-alt"></i></h1>
  <h4>自分で作ったオリジナルのアプリやサイトを共有しよう !</h4>
  
  <a class='btn welcomebtn' href="#">アカウント作成</a>
  <a class='btn welcomebtn' href="#">ログイン</a>
</div>
