<% if current_user.good?(result) %>
  <%= link_to result_goods_path(result.id), method: :delete do %>
    <span class='goodnow btn margin-top10'><i class="fas fa-thumbs-up"></i> <%= result.good_users.count %></span>
  <% end %>
<% else %>
  <%= link_to result_goods_path(result.id), method: :post do %>
    <span class='good btn margin-top10'><i class="far fa-thumbs-up"></i> <%= result.good_users.count %></span>
  <% end %>
<% end %>
