@charset "utf-8";

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-right10 {
  margin-right: 10px;
}

.color {
  color: #2BCDD3;
}

.background {
  background: #2BCDD3;
}

.white {
  color: #fff;
}

.green {
  color: #52b311;
}

header {
  height: 50px;
  background: #2BCDD3;
  color: #fff;
}

body {
  background: #f7f7f7;
}

footer {
  height: 50px;
}

/* ナビバー */
.navlogo {
  font-size: 20px;
  float: left;
  height: 50px;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
}

.navlogo:hover {
  text-decoration: none;
  color: #272e2e;
}

.navpull {
  margin-top: 3px;
  padding-left: 6px;
  color: #272e2e;
  font-size: 23px;
  background: #2BCDD3;
}

.navicon {
  margin-top: 5px;
}

.naviconfont {
  font-size: 20px;
}

.dropdown-menu {
  margin-top: 15px;
}

.navfont {
  font-size: 12px;
  margin: 10px 0 0 15px;
}

.signin-navfont {
  font-size: 13px;
  background: #11b5bb;
}

.signup {
  border: 2px solid #fff;
}

.signup:hover {
  background: #fff;
}

.welcome {
  padding: 50px 40px 200px 40px;
  color: #fff;
  background-color: #f7f7f7;
  background-image: linear-gradient(0deg, #f7f7f7 2%, #69f1f7 18%, #2bcdd3 50%);
}

.welcometitle {
  font-weight: 700;
  margin-bottom: 0;
}

.welcomecontent {
  margin-top: 25px;
}

.welcomebtn {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin: 20px 15px;
  border-radius: 0;
}

.welcomebtn:hover {
  color: #2bcdd3;
  background: #fff;
}

.nomalbtn {
  color: #2bcdd3;
  border: 2px solid #2bcdd3;
  padding: 6px 30px;
}

.nomalbtn:hover {
  color: #fff;
  background: #2bcdd3;
}

/* メニューリスト */
.nav-pills > li > a {
  color: #707272;
}

.nav-pills > li.active > a {
  background: #2bcdd3;
}

.nav-pills > li.active > a:hover {
  background: #11b5bb;
}

.partition {
  border-bottom:1px solid #c0c0c0;
}

.eachbody {
  padding: 0;
}

.eachcontent {
  padding: 15px;
}

.title {
  margin: 5px 0;
}

.result {
  padding: 20px 30px;
}

.border-left {
  border-left: 4px solid #2bcdd3;
}

.padding-left {
  padding-left: 10px;
}

.good  {
  color: #f79b24;
  border: 2px solid #f79b24;
  padding: 6px 15%;
}

.goodnow  {
  color: #f79b24;
  background: #f7ad2438;
  border: 2px solid #f79b24;
  padding: 6px 15%;
}

.good:hover,
.goodnow:hover {
  color: #f79b24;
  opacity: 0.7;
}

.comment {
  padding: 8px 15%;
}

.box {
  padding: 20px 35px 15px 35px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
