<header>
  <div class="container">
    <a href="/" class='navlogo'>Sharemade</a>
    <% if user_signed_in? %>
      <span class="dropdown">
        <button class="btn navpull dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="far fa-caret-square-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href='#'>最新</a></li>
          <li class="divider"></li>
          <li><a href='#'>注目</a></li>
          <li class="divider"></li>
          <li><a href='#'>ユーザランキング</a></li>
          <li class="divider"></li>
          <li><a href='/users'>ユーザ一覧</a></li>
        </ul>
      </span>

      <%= link_to destroy_user_session_path, class: 'white', method: :delete, data: { confirm: "ログアウトしますか？" } do %>
        <span class="btn pull-right signin-navfont">
          ログアウト
        </span>
      <% end %>

      <%= link_to user_path(current_user) , class:'white' do %>
        <span class="btn pull-right signin-navfont">
          <i class="fas fa-user"></i>
        </span>
      <% end %>
      
    <% else %>
      <%= link_to new_user_session_path, class: 'white' do %>
        <span class="btn pull-right navfont">
          <span>ログイン</span>
        </span>
      <% end %>
      
      <%= link_to new_user_registration_path, class: 'white' do %>
        <span class="btn pull-right navfont signup">
          アカウント登録
        </span>
      <% end %>
    <% end %>
  </div>
</header>
